venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*/work-items-out/*
testrun/*
.~lock*
*.pkl
*.exe
Bot/Module/Browser/Chrome/*
Bot/Module/OCR/Poppler/*
Bot/Module/OCR/Tesseract/*
*.zip
*.tar.xz
Bot/Sensive/*
teste.pdf
data.json
.Manager/